* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", "Fraunces", sans-serif;
    position: relative;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 600px;
    background-color: white;
}

@media (max-width:767px) {
    .container {
        max-width: 500px;
    }
}

.container .image img {
    width: 300px;
    height: 100%;
}

.container .image .moblie {
    display: none;
}

@media (max-width:767px) {
    .container .image .desktop {
        display: none;
    }

    .container .image .moblie {
        display: block;
    }

    .container .image img {
        width: 100%;
    }
}

.container .info {
    padding: 15px 20px;
}

.container .info p {
    color: hsl(228, 12%, 48%);
}

.container .info p:first-of-type {
    text-transform: uppercase;
    letter-spacing: 0.2cm;
}

.container .info h1 {
    line-height: 1;
    width: 250px;
}

.container .info p:last-of-type {
    line-height: 1.6;
}

.container .info .spans {
    display: flex;
    align-items: center;
}

.container .info .green {
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-size: 40px;
    margin-right: 15px;

}

.container .info .spans span:last-child {
    position: relative;
    color: hsl(228, 12%, 48%);
}

.container .info .spans span:last-child::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    transform: translateX(-50%);
    background-color: hsl(228, 12%, 48%);
    width: 50px;
    height: 1px;
}

.container .info button {
    width: 100%;
    padding: 15px 20px;
    margin-top: 20px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    cursor: pointer;
}

.container .info button:hover {
    background-color: hsl(158, 42%, 18%);
    transition: 1s;
}

.attribution {
    position: absolute;
    bottom: 60px;
    /* top: 50%; */
    left: 50%;
    transform: translateX(-50%);
    color: hsl(228, 12%, 48%);
    margin-top: 10px;
}

.attribution a {
    /* color: hsl(228, 12%, 48%); */
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
}


@media (max-width:767px) {
    .attribution {
        display: none;
    }
}